###### This is the template for the configuration file, which is passed to the
###### run_bart_surv.sh script.


# # Declare model specification.
# # Option flags: o s g z v e l t n h
# -o: Organization name(s)
# -s: Event status type(s)
# -g: Whether the control group should be restricted geographically (TRUE/FALSE)
# -z: Desired (approximate) control group size
# -v: Name of treatment variable
# -e: Seed
# -l: Name(s) of variable(s) on which to balance
# -t: Path to directory in which this script is located
# -n: Name of configuration file
# -h: Datetime at which the call to the R script is initiated


# Set list of organizations through which to loop.
# These should be SPACE SEPARTED within a single string, e.g.:
#       ORGANIZATIONS="organization_1 organization_2 organization_3"
ORGANIZATIONS="demo_organization"

# Set list of survival modes through which to loop.
# Possible modes:  victim   violent_arrest   either
# These should be SPACE SEPARTED, e.g.:
#       STATUS_TYPE="victim violent_arrest"
STATUS_TYPE="victim"

# Should the control group be limited to those with an arrest within the police
# districts intersecting the organization community areas?
GEO_RESTRICT=FALSE

# What is the desired size (approximately) of the control group?
# (Note that some observations may be dropped for having a fatal victimization
#  before their randomized start date.)
CG_SIZE=100

# What is the name of the dichotomous variable in the treated dataset that
# indicates whether an observation is in the treatment group?
TREATMENT_VARIABLE="tx"

# What seed should be used to generate the control group & run the BART models?
SEED=1

# On which covariates should the sample be balanced? Pass a SPACE-SEPARATED
# string of covariates; if no balancing is desired, pass "none".
# NOTE: For variables that are a count, balancing is done on the basis of >= 1,
#       that is, groups are matched not for the number of arrests (for example)
#       that participants have, but rather on the count of participants with 1+
#       arrests in the three years prior to the start date.
# Choose from:  male   black         hispanic    gang     yob
#               arrest victimization coarrestees peer-victimization    OR   none
BALANCE="male black hispanic gang arrest victimization yob"

# The rest of the parameters are defined in the run_bart_surv.sh script.